<div class = "jumbo">
  <h2>Welcome!<br>To Questions Board!!</h2>
  <p>Feel free to ask any question and give it the answer of your choice.</p>
  {{#link-to 'about' class = "button"}}
  About Us
  {{/link-to}}

{{#each model as |question|}}
<article class = "listing">
  <div class = "detail question">
    <span><strong>Question</strong></span> {{question.title}}
  </div>
  <div class = "detail question">
    <span>Question:</span> {{question.question}}
  </div>

  <div class = "detail question">
    <span>Author:</span> {{question.author}}
  </div>

</article>
{{/each}}

{{new-question}}
{{new-answer}}
</div>
